*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}


body{
	background-color: hsl(0, 100%, 74%);
}

.main{
  background: url("../public/bg-mobile.png") no-repeat center/cover;
	height: 100vh;
}

.sub{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
	padding: 3rem 1.5rem;
	color: #fff;
}

.sub h1{
	font-size: 2rem;
	margin-bottom: 1rem;
}

@media(min-width: 769px){
.main{
	background: url("../public/bg-desktop.png") no-repeat center/cover;
}
}


